---
layout: archive
permalink: /code/
title: "Code"
author_profile: true
---

In this blog, I post about my coding interests and projects. In particular, I feature my own libraries and packages. 
Some of these have been created from scratch, and others are extensions of others' libraries. Scroll down, and click on one of the below blog posts to read more!

<h2> Programming philosophy </h2>
My strength is writing highly-efficient code that leverages cutting-edge results from the algorithms literature.
Highly-performant, industrial-strength code demands a thorough understanding of algorithms and data
structures. As we operate in big data settings, the efficiency with which algorithms and data structures scale
with large data sets is of the utmost concern. That is, a sturdy theoretical foundation is essential for the
modern, elite programmer. Equally important is a deep understanding of programming paradigms and a few
use-case-orthogonal languages. When writing my own code, I subscribe to the concepts emphasized in generic
programming and object-oriented programming, in particular. I use the scripting languages Python and Julia
for high-level tasks, and I employ the systems languages C and Rust for performance-critical code (Julia – my
favorite language – is a tremendously fast, compiled language, and sometimes its performance renders a
systems-language translation unwarranted).

<h2> Languages </h2>
Presently, I write code in several languages: mostly <a href='https://en.wikipedia.org/wiki/Python_(programming_language)'>Python</a>, 
<a href='https://en.wikipedia.org/wiki/Julia_(programming_language)'>Julia</a>, and 
<a href='https://en.wikipedia.org/wiki/Rust_(programming_language)'>Rust</a>. In the past, I've used C, C++, R, and Mathematica.

<h3> Python </h3>
Python is a beautiful language with a grand community. Its elegance makes development and prototyping quick and intuitive. 
I use Python for quick-and-dirty solutions, or when I need to use a particularly clever Python package. Pure Python is relatively slow. 
However, idiomatic use of the right packages, e.g., <a href='https://numpy.org/'>NumPy</a>, <a href='https://pytorch.org/'>PyTorch</a>, 
<a href='https://cython.org/'>Cython</a>, etc., yields performant code. Moreover, Python's vast package ecosystem is second to none. In addition to 
those mentioned above, some of my favorite packages include <a href='https://graph-tool.skewed.de/'>graph-tool</a> (which I consider superior to the 
quality, well-known package <a href='https://networkx.github.io/'>NetworkX</a>), <a href='https://pandas.pydata.org/'>pandas</a>, 
<a href='https://scikit-learn.org/stable/'>scikit-learn</a>, <a href='https://holoviews.org/'>HoloViews</a>, and 
<a href='https://docs.bokeh.org/en/latest/index.html'>Bokeh</a>.



{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.codeposts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
